body{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px
}

.landing{
    display: flex;
    overflow: hidden;
    position:relative;
    background: linear-gradient(to bottom right, #ff8f70 0%, #ff3d54 100%);
    background-repeat: no-repeat;
    border-bottom-left-radius: 80px;
    padding-top: 15vh;
    padding-left: 10vw;
}
.nav-left-container{
    display: flex;
    flex-direction: row;
    margin-right: 30vw;
}
.nav-left{
    font-size: 2em;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    color:rgb(255, 240, 240);
    padding:0px 20px 20px 20px;
}
.nav-content{
    color: rgba(255, 241, 241, 0.76);
    padding: 12px 20px 20px 20px;
    font-size: 15px;
    font-family: 'Ubuntu',san-serif;
    font-weight: 500;
}

.nav-right-container{
    display:flex;
    flex-direction: row;
    align-content: space-between;
}
button.nav-button{
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    border: none;
    margin-bottom:10vh;
    margin-left: 5vh;
}
button.notactive{
    color:rgba(255, 241, 241, 0.76);
    background-color: #ff535c;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 700;
}
button.active{
    color:#ff535c;
    background-color: #ffff;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 700;
}
